  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: var(--primaryColor);
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
  }
  
  .cart_link {
    display: inline-block;
    position: relative;
  }
  
  .cart_link .router_link {
    font-weight: 500 !important;
    text-decoration: none;
    font-size: 14px;
    list-style: none;
    transition: var(--mainTransition);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--darkGrey);
  }

  .cart_link .router_link a {
    font-weight: 500 !important;
    text-decoration: none;
    font-size: 14px;
    list-style: none;
    transition: var(--mainTransition);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #c0bebe;
  }

  .cart_link .router_link a:hover {
    text-decoration: none !important;
    color: var(--mainWhite);
  }

  .nav-links .signout_link {
    font-weight: 500 !important;
    text-decoration: none;
    font-size: 14px;
    list-style: none;
    transition: var(--mainTransition);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--mainGrey);
    cursor: pointer;
  }

  .nav-links .signout_link:hover {
    text-decoration: none !important;
    color: var(--mainWhite);
  }

  .cart_link .router_link span {
    font-size: 11px;
    margin-left: 5px;
    background-color: red;
    color: var(--mainWhite);
    font-weight: bolder;
    border: none;
    padding: 2px 7px 2px 7px;
    border-radius: 100%;
    cursor: default; 
  }

  .logo h3 {
    font-family: "Fugaz One", cursive;
    letter-spacing: 5px;
    font-size: 35px;
    padding: 20px;
    margin: 0;
    text-shadow: 2px 0 2px #ffffff;
  }
  
  .nav-links {
    font-family: "Poppins", sans-serif !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    padding-left: 0px;
    
  }
  
  .nav-links .router-link a {
    font-weight: 500 !important;
    text-decoration: none;
    font-size: 14px;
    list-style: none;
    transition: var(--mainTransition);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--mainGrey);
    padding: 2px
  }
  
  
  .nav-links .router-link a:hover {
    text-decoration: none !important;
    color: var(--mainWhite);
  }
  
  .active {
    color: var(--mainWhite) !important;
    font-size: 14px!important;
  }

  .burger {
    display: none;
    cursor: pointer
  }

  .burger div {
      width: 25px;
      height: 3px;
      background-color: var(--mainWhite);
      margin: 5px;
  }

  @media screen and (max-width: 1230px) {
    .logo h3 {
      display: none;
    }

    .nav-links {
      width: 100%;
      padding: 10px;
    }
    .nav-links .router-link a {
      font-size: 13px;
      font-weight: bold!important;
    }
  }
  
 